.hero{

    width:90%;

    height:450px;

    margin:40px auto;

    border-radius:25px;

    overflow:hidden;

    position:relative;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

/* Image */

.hero-image{

    width:100%;

    height:450px;

    object-fit:cover;

    animation:zoomImage 10s infinite alternate ease-in-out;

}

/* -------- Animation 1 -------- */

@keyframes zoomImage{

0%{

transform:scale(1);

}

100%{

transform:scale(1.08);

}

}

/* Overlay */

.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.35);

z-index:1;

}

/* Content */

.hero-content{

position:absolute;

top:50%;

left:70px;

transform:translateY(-50%);

color:white;

z-index:2;

/* -------- Animation 2 -------- */

animation:slideText 1.2s ease;

}

.hero-content h1{

font-size:55px;

margin-bottom:20px;

}

.hero-content p{

width:520px;

font-size:20px;

line-height:30px;

margin-bottom:35px;

}

/* Text Animation */

@keyframes slideText{

from{

opacity:0;

transform:translate(-50px,-50%);

}

to{

opacity:1;

transform:translate(0,-50%);

}

}

/* Button */

.buy-btn{

padding:15px 40px;

border:none;

border-radius:35px;

background:#4a2c2a;

color:white;

font-size:18px;

cursor:pointer;

position:relative;

overflow:hidden;

/* -------- Animation 3 -------- */

animation:pulse 2s infinite;

transition:.4s;

}

.buy-btn:hover{

background:#005f3c;

transform:scale(1.08);

}

/* Pulse */

@keyframes pulse{

0%{

box-shadow:0 0 0 0 rgba(0,117,74,.6);

}

70%{

box-shadow:0 0 0 20px rgba(0,117,74,0);

}

100%{

box-shadow:0 0 0 0 rgba(0,117,74,0);

}

}

/* Shine */

.buy-btn::before{

content:"";

position:absolute;

top:0;

left:-100%;

width:40%;

height:100%;

background:rgba(255,255,255,.5);

transform:skewX(-25deg);

transition:.8s;

}

.buy-btn:hover::before{

left:130%;

}

/* Swiper */

.swiper-button-next,
.swiper-button-prev{

color:white;

}

.swiper-pagination-bullet{

background:white;

}