/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Entire Website Background */
body {
  background-color: #FAF3E0;   /* Light Beige */
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}